/*
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'),
  url('fonts/Arimo/Arimo.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  src: local('Arimo Italic'), local('Arimo-Italic'),
  url('fonts/Arimo/Arimo-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'),
  url('fonts/Arimo/Arimo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  src: local('Arimo Bold Italic'), local('Arimo-Bold-Italic'),
  url('fonts/Arimo/Arimo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'),
  url('fonts/IstokWeb/IstokWeb-Bold.woff') format('woff');
}


*/

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('fonts/gilroy/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
  url('fonts/gilroy/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular Italic'), local('Gilroy-Regular-Italic'),
  url('fonts/gilroy/Gilroy-RegularItalic/Gilroy-RegularItalic.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-RegularItalic/Gilroy-RegularItalic.woff') format('woff'),
  url('fonts/gilroy/Gilroy-RegularItalic/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('fonts/gilroy/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
  url('fonts/gilroy/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium Italic'), local('Gilroy-Medium-Italic'),
  url('fonts/gilroy/Gilroy-MediumItalic/Gilroy-MediumItalic.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-MediumItalic/Gilroy-MediumItalic.woff') format('woff'),
  url('fonts/gilroy/Gilroy-MediumItalic/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('fonts/gilroy/Gilroy-Semibold/Gilroy-Semibold.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-Semibold/Gilroy-Semibold.woff') format('woff'),
  url('fonts/gilroy/Gilroy-Semibold/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold Italic'), local('Gilroy-Semibold-Italic'),
  url('fonts/gilroy/Gilroy-SemiboldItalic/Gilroy-SemiboldItalic.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-SemiboldItalic/Gilroy-SemiboldItalic.woff') format('woff'),
  url('fonts/gilroy/Gilroy-SemiboldItalic/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('fonts/gilroy/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
  url('fonts/gilroy/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold Italic'), local('Gilroy-Bold-Italic'),
  url('fonts/gilroy/Gilroy-BoldItalic/Gilroy-BoldItalic.woff2') format('woff2'),
  url('fonts/gilroy/Gilroy-BoldItalic/Gilroy-BoldItalic.woff') format('woff'),
  url('fonts/gilroy/Gilroy-BoldItalic/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}