.logos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  //background-color: #fff;
  //padding: 10px 0;
  //border-radius: 10px;

  &Track {
    margin: 0 -7px;
  }

  &El {
    //width: calc(20% - 10px);
    //margin-right: 10px;
    padding: 0 7px;

    &:last-child {
      //margin-right: 0;
    }

    a, span {
      display: block;
      vertical-align: top;\overflow: hidden;
      border-radius: $br;
      background-color: #fff;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}