.view{


  &VideoYouTube {
    display: block;
    //margin: 0 0 30px 0;
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      transition: all .4s ease;

      &:hover {
        transform: scale(1.1);
      }

    }

    &Inner {
      position: absolute;
      left: 10px;
      bottom: 0;
      transform: translateY(10px);
      width: calc(100% - 20px);
      transition: all .4s ease;

      span {
        display: block;
      }

      &_caption {
        padding: 17px 20px 25px;
        font-weight: 400;
        color: #fff;
      }
    }

    &:hover &Inner{
      bottom: 10px;
    }

    &Title {
      font-family: $titleFont;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 0 0 13px 0;
      border-bottom: 1px solid #e5e5e5;
      margin: 0 0 5px 0;

    }

    &Subtitle {
      font-family: $titleFont;
      font-size: 22px;
      line-height: 22px;
      margin: 0 0 5px 0;
    }

    &Text {
      font-size: 14px;
      line-height: 21px;
      padding: 0;
      margin: 0;

      a {
        font-family: $titleFont;
        color: #fd860a;
        text-decoration: none;

        &:hover {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }
}
